@import "~bootstrap/dist/css/bootstrap.css";
.cell {
  width:100px;height:100px;text-align: center;border:2px solid black;
}
/* .table-bordered{
  border: 1px solid black;
} */
table, th, td {
  border: 1px solid black;
}
@media screen and (max-width: 600px) {
  .cell {
    width:50px;height:50px;
  }
}