<div>
  <h1 style="margin-left:35%;color:black;">Angular 2048 Game </h1>
</div>
  <div style="margin-left:20%">
    <div style="margin-left:10%">
      <h1>Score:{{score}} Best Score:{{bestScore}} <button class="btn btn-primary" style="margin-left:20px" (click)='restartGame()'>New Game</button></h1>
      <h1 *ngIf="gameOver">Game over</h1>
      <h1 *ngIf="gameWon">Game Won</h1>
      </div>
  <table class="table table-bordered" style="width:800px;border:2px solid black;position: fixed;">
    <thead>
      <tr>
        <thead >
        </thead>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of grid">
        <td class="cell" *ngFor="let ele of row" ><span style="font-size: 50px;
          font-weight: bolder;
          color: Black;" *ngIf='ele!=0'>{{ele}}</span></td>
      </tr>
    </tbody>
  </table>
</div>

 




<router-outlet></router-outlet>
